<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tkkk.wechatPlugin</string>
	<key>connections</key>
	<dict>
		<key>0D88BE16-D0D5-4489-B54E-9C3A9C7FB187</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>951BA0D4-BF57-48C9-B977-D9A7C8A398A1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>↩: 打开聊天窗口; C: 复制消息内容; L: 查看消息详情; Y: 预览非文本信息</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBC34E72-65EE-4D6A-8E7C-BA6D06F4A3A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DECB235-5455-435D-90AF-1A51C26046DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7F97CC1-A708-4992-9A14-DBCE8FED26BE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>↩: 打开聊天窗口; C: 复制微信号</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>807CF904-8DD6-45B7-B6FE-B0D7C190CC83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>807CF904-8DD6-45B7-B6FE-B0D7C190CC83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D88BE16-D0D5-4489-B54E-9C3A9C7FB187</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>951BA0D4-BF57-48C9-B977-D9A7C8A398A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF9DFCC2-CC36-4945-9B04-E02F397E7E7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7F97CC1-A708-4992-9A14-DBCE8FED26BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>951BA0D4-BF57-48C9-B977-D9A7C8A398A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBC34E72-65EE-4D6A-8E7C-BA6D06F4A3A7</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>TKkk</string>
	<key>description</key>
	<string>快速搜索好友(群聊)、发送消息</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WeChat Plugin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python openSession.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>951BA0D4-BF57-48C9-B977-D9A7C8A398A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/WeChat.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>DF9DFCC2-CC36-4945-9B04-E02F397E7E7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "",
    "config" : {
    },
    "variables" : {
      "userId" : "{query}",
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>C7F97CC1-A708-4992-9A14-DBCE8FED26BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wx</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>搜索中…</string>
				<key>script</key>
				<string>python search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>↩: 快捷发送消息；⌘ + ↩：快捷打开窗口; ⌘ + C: 复制微信号</string>
				<key>title</key>
				<string>微信小助手</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DECB235-5455-435D-90AF-1A51C26046DD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索中…</string>
				<key>script</key>
				<string>python userChatLog.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D88BE16-D0D5-4489-B54E-9C3A9C7FB187</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python sendMsg.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EBC34E72-65EE-4D6A-8E7C-BA6D06F4A3A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "",
    "config" : {
    },
    "variables" : {
      "userId" : "{query}",
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>807CF904-8DD6-45B7-B6FE-B0D7C190CC83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>配合微信插件</string>
	<key>uidata</key>
	<dict>
		<key>0D88BE16-D0D5-4489-B54E-9C3A9C7FB187</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7DECB235-5455-435D-90AF-1A51C26046DD</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>807CF904-8DD6-45B7-B6FE-B0D7C190CC83</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>951BA0D4-BF57-48C9-B977-D9A7C8A398A1</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C7F97CC1-A708-4992-9A14-DBCE8FED26BE</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>DF9DFCC2-CC36-4945-9B04-E02F397E7E7D</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EBC34E72-65EE-4D6A-8E7C-BA6D06F4A3A7</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>baseUrl</key>
		<string>http://127.0.0.1:52700/wechat-plugin/</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/TKkk-iOSer</string>
</dict>
</plist>
